<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>LSUIElement</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://underactive.github.io/pixel-agents-esp32/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>fJsL/jl1/Es0JMHCCiGJMgBmuIUqqBaj/4fgwNiD7OE=</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Pixel Agents needs Bluetooth to communicate with your ESP32 display wirelessly.</string>
	<key>CFBundleDisplayName</key>
	<string>Pixel Agents</string>
	<key>CFBundleName</key>
	<string>Pixel Agents</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
</dict>
</plist>
